
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", serif;
  background-color: #f8f3e7;
  color: #3a2c20;
  line-height: 1.6;
}

header {
  background-color: #5b3924;
  color: #fffaf3;
  text-align: center;
  padding: 25px 0;
}

nav {
  background-color: #7a4f2a;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  display: inline-block;
}

nav a:hover,
nav a.active {
  background-color: #d1a36a;
  color: #3a2c20;
}

main {
  max-width: 1000px;
  margin: 25px auto;
  background-color: #fffaf3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #000000;
  margin-bottom: 10px;
}

section {
  margin-bottom: 40px;
}

/* Card layout */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #f0e3d0;
  border-radius: 8px;
  padding: 15px;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b78b58;
  border-radius: 5px;
  background-color: #fffaf3;
}

form button {
  background-color: #7a4f2a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #5b3924;
}


footer {
  background-color: #5b3924;
  color: #fffaf3;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
